@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

$green-dark: #009900;
$green-mid: #00CC00;
$gren-bg: #00CC00;

$header-color: #00CC00;
$boddy-color: #1C1D22;
$card-color: #292A2E;
$drop-shadow-color: rgba(0, 0, 0, 0.25);
$drop-shadow-color-img: rgba(0, 0, 0, 0.438);

$white: #FFFFFF;
$black: #000000;
$dark-bg: #1C1D22;

$font-family: 'Poppins', sans-serif;
$font-size: 32px;
