@use "../../styles/variables.module.scss" as *;
@use "../../styles/mixins.module.scss" as *;
.main {
  width: 100%;
}
.container {
  @include display-flex(column, space-between, center);
}

.card {
  background-color: $card-color;
  color: $white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
  padding: 100px 20px;
  margin-bottom: 30px;
}

.products {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.Title{
  font-size: 48px;
  font-family: $font-family;
  margin-bottom: 15px;
}
.line {
  height: 3px;
  background-color: $green-mid;
  border: none;
  margin: 15px 0;
}

